@{
    ViewData["Title"] = "Detail Discount";
    Layout = "~/Views/Shared/_TopNavbarMasterData.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystemApps.Areas.MasterData.ViewModels;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model DiscountViewModel

<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <div class="card-header bg-cyan">
                <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
            </div>

            <form enctype="multipart/form-data" asp-controller="Discount" asp-action="DetailDiscount" method="post" class="form-horizontal">
                <div class="card-body">
                    <input hidden asp-for="DiscountId" />
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="DiscountCode">Discount Code</label>
                        <div class="col-sm-9">
                            <input type="text" asp-for="DiscountCode" class="form-control form-control-border border-width-2" id="DiscountCode" placeholder="Discount Code" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="DiscountValue">Discount Value (%)</label>
                        <div class="col-sm-9">
                            <input maxlength="100" autocomplete="off" type="number" asp-for="DiscountValue" class="form-control form-control-border border-width-2" id="DiscountValue" placeholder="Discount Value" disabled>
                        </div>
                    </div>                    
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="Note">Note</label>
                        <div class="col-sm-9">
                            <input maxlength="100" autocomplete="off" type="text" asp-for="Note" class="form-control form-control-border border-width-2" id="Note" placeholder="Note" disabled>
                        </div>
                    </div>
                </div>
                <!-- start button footer -->
                <div class="card card-orange">
                    <div class="card-body">
                        <button type="submit" class="btn btn-primary bg-indigo float-left fw-bold" id="btnsimpan"><div style="color:#ffffff">Save</div></button>&nbsp;
                        <a class="btn bg-indigo" id="btnubah">Change</a>
                        <a class="btn btn-default" id="btnbatalubah">Cancel Change</a>
                        <a class="btn btn-danger" asp-action="DeleteDiscount" asp-controller="Discount" asp-area="MasterData" asp-route-id="@Model.DiscountId" id="btnhapus">Delete</a>
                        <a class="btn btn-default" asp-action="Index" asp-controller="Discount" asp-area="MasterData" id="btnbatal">Cancel</a>
                    </div>
                </div>
                <!-- /.end button footer -->
                @section Scripts {
                    <script>
                        $(function () {
                            //Initialize Select2 Elements
                            $('.select2bs4').select2({
                                theme: 'bootstrap4'
                            })
                        })
                    </script>

                    <script>
                        $(function () {
                            $("#btnsimpan").hide();
                            $("#btnbatalubah").hide();

                            $("#btnubah").click(function () {
                                $("#btnubah").hide();
                                $("#btnhapus").hide();
                                $("#btnbatal").hide();
                                $("#btnsimpan").show();
                                $("#btnbatalubah").show();

                                document.getElementById("DiscountCode").disabled = false;
                                document.getElementById("DiscountValue").disabled = false;
                                document.getElementById("Note").disabled = false;
                            })

                            $("#btnbatalubah").click(function () {
                                $("#btnubah").show();
                                $("#btnhapus").show();
                                $("#btnbatal").show();
                                $("#btnsimpan").hide();
                                $("#btnbatalubah").hide();

                                document.getElementById("DiscountCode").disabled = false;
                                document.getElementById("DiscountValue").disabled = false;
                                document.getElementById("Note").disabled = false;
                            })
                        })
                    </script>                    

                    <script>
                        $(function () {
                            //Data-Mask-Identitas
                            $('[data-mask-identitas]').inputmask()

                            //Data-Mask-Hp
                            $('[data-mask-hp]').inputmask()

                            //Tanggal Lahir
                            $('#tanggallahir').datetimepicker({
                                format: 'DD/MM/yyyy'
                            })
                        })
                    </script>
                }
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Failed", '@TempData["WarningMessage"]', "warning");
                };
            </script>
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->