@{
    ViewData["Title"] = "Add Warehouse Location";
    Layout = "~/Views/Shared/_TopNavbarMasterData.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystemApps.Models;
@using PurchasingSystemApps.Areas.MasterData.ViewModels;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model WarehouseLocationViewModel

<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <div class="card-header bg-cyan">
                <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
            </div>

            <form enctype="multipart/form-data" asp-controller="WarehouseLocation" asp-action="CreateWarehouseLocation" method="post" class="form-horizontal">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="WarehouseLocationCode">Warehouse Code</label>
                        <div class="col-sm-9">
                            <input type="text" asp-for="WarehouseLocationCode" class="form-control form-control-border border-width-2" id="" placeholder="Warehouse Code" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="WarehouseLocationName">Warehouse Name</label>
                        <div class="col-sm-9">
                            <input maxlength="100" autocomplete="off" type="text" asp-for="WarehouseLocationName" class="form-control form-control-border border-width-2" id="" placeholder="Warehouse Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="WarehouseManagerId">
                            Warehouse Manager
                        </label>
                        <div class="col-sm-9">
                            <select asp-for="WarehouseManagerId" asp-items="@ViewBag.WarehouseManager" class="form-control select2bs4" style="width: 100%;">
                                <option value="" hidden disabled selected>--Choice Warehouse Manager--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="Address">Address</label>
                        <div class="col-sm-9">
                            <input maxlength="250" autocomplete="off" type="text" asp-for="Address" class="form-control form-control-border border-width-2" id="" placeholder="Address">
                        </div>
                    </div>                    
                </div>
                <!-- start button footer -->
                <div class="card card-orange">
                    <div class="card-body">
                        <button type="submit" class="btn btn-primary bg-indigo float-left fw-bold"><div style="color:#ffffff">Save</div></button>
                        <a class="btn btn-default" asp-action="Index" asp-controller="WarehouseLocation">Cancel</a>
                    </div>
                </div>
                <!-- /.end button footer -->
                @section Scripts {
                    <script>
                        $(function () {
                            //Initialize Select2 Elements
                            $('.select2bs4').select2({
                                theme: 'bootstrap4'
                            })
                        })
                    </script>                  
                }
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Failed !", '@TempData["WarningMessage"]', "warning");
                };
            </script>
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->